[submodule "src/thirdparty/easywsclient"]
	path = src/thirdparty/easywsclient
	url = ./src/thirdparty/easywsclient
[submodule "src/thirdparty/cJSON"]
	path = src/thirdparty/cJSON
	url = ./src/thirdparty/cJSON
