[submodule "easywsclient"]
	path = src/thirdparty/easywsclient
	url = https://github.com/dhbaird/easywsclient.git
[submodule "cJSON"]
	path = src/thirdparty/cJSON
	url = https://github.com/DaveGamble/cJSON.git
